{% extends 'index.html' %}
{% block title %}
Inventory
{% endblock%}
{% block content %}
<div class="container">
<div class="jumbotron" style="background-color:rgb(252, 203, 203);">
    <h1 class="display-4">Hello Everyone!!!</h1>
    <p class="lead">This is a simple inventory management system , a simple system that helps to add,edit and view the product,location,movement and report</p>
    <hr class="my-4">
    <p>To view the Report you can click on the button below</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/Report" role="button">View Report</a>
    </p>
  </div>
</div>

{% endblock %}