{% extends 'index.html' %}
{% block title %}
Product
{% endblock%}
{% block content %}
                    
<div class="container">
 
 <!--Flash message--> 
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      
          {% for category, message in messages %}
          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close"><span aria-hidden="true">&times;</span>
            </button>
            {% if category == "danger" or category == "warning" or category == "info" or category == "success" %}
                    <i class="fa fa-warning"></i>
            {% endif %}
            {{ message }} </br>
            </div>
          {% endfor %}
      
    {% endif %}
{% endwith %}

<!--Add Products-->
  <div class="row row-cols-2">
    <div class="col-sm-6">
      <form action="{{ url_for('product') }}" method="POST">
        <div class="form-group col-md-5">
            <label for="pro_name" ><b>Product Name</b></label>
            <input required type="text" class="form-control" id="pro_name" name="pro_name" placeholder="Enter the Product Name" >
          </div>
        
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Add Product</button>
            

          </div>
        
    </form>
    
    </div>
    
    <div class="col-sm-6">
      <label for="pro_name" ><b>Product Table</b></label>
      
      <table class="table table-hover table-bordered table-danger">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody >
          {% for product in products %}
            <tr>
              <th> {{ loop.index }} </th>
              <td>{{ product.pro_name }}</td>
              
              <td> 
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#editProduct{{product._id}}" >Edit</button> 
                  
            </td>
             
<!--Modal Edit Product -->
            <div id="editProduct{{product._id}}" class ="modal fade" tabindex="-1" aria-labelledby="editProduct" aria-hidden="true">
              <form action="{{ url_for( 'product' )}}" method="POST">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Update Product</h4>
                    </div>
                    <div class="modal-body">
              
                      <div class="form-group">
                        <label for="pro_id">Product Name</label>
                        <input type="hidden" name="pro_id" value="{{product._id}}">
                        <input required type="text" class="form-control" name ="edit_pro" placeholder="Enter The Product" value="{{ product.pro_name }}" >
                      </div>
                      <div class="form-group ">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
                      </div>
              
                     </div>
                  </div>      
            
                 </div>
              </form>
              </div>
              </td>
            </tr>
            {% endfor %}
        </tbody>

      </table>
    </div>
  </div>
</div>    
{% endblock %}